@{
    Layout = "Shared/_cuiTabItemViewLayout.cshtml";
}
@section extra_header
{
    <link rel="stylesheet" type="text/css" href="@Url.ContentWithSalt("~/styles/dac.css")"></link>
    <script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.DomainAccessControl/scripts/derivedRelationships/itemController.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.DomainAccessControl/scripts/derivedRelationships/queryDefinitionModel.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.DomainAccessControl/scripts/derivedRelationships/relationshipFamilyModel.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.DomainAccessControl/scripts/derivedRelationships/viewModel.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.DomainAccessControl/scripts/derivedRelationships/formatters.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.core.ItemWindow/Scripts/derivedRelationshipView.js")"></script>
}
@section editor
{
    <div id="dr-editor" data-dojo-type="Controls/Tab">
        <div class="dr-grid-container dr-grid-container_hidden">
            <div class="dr-grid"></div>
        </div>
    </div>
}